<div class="wrapper">
  <nav class="main">
    <ul class="main-nav">
      <li><a href="/adoption">Adoption</a></li>
      <li><a href="/pet-surrender">Pet Surrender</a></li>
      <li><a href="/spay-neuter">Spay/Neuter</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/contact">Contact Us</a></li>   
    </ul>
  </nav>
  <a href="/dash">
    <img src="assets/images/images.png" alt="Weego's Logo" class="logo"/>
  </a>
</div>



  








