.wrapper {
    border-bottom: 7px solid #98878f;
    background-color: #192231
}
.logo {
    height: 90px;
    width: auto;
    float: center;
    padding-left: 50px;
}
/*---------------------MAIN NAV STYLING-----------------------*/
.main-nav {
    float: right;
    list-style-type: none; 
    padding-right:30px;
    padding-top:10px;
}
.main-nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}
.main-nav li:not(:last-child):after {
    content: " | ";
    padding-left: .8em;
    color:white
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 4px 0px;
    color:white; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav {
    float: right;
    list-style-type: none;
}
.main-nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase
}



















/*-------------------------LOGIN BUTTON STYLING--------------------------*/
/*.button {
    padding-top: 10px;
    padding-right: 10px
}
.btn-login {
  display: inline-block;
  float: right;
  padding: 1px 4px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #999;
  text-transform: uppercase;
}
.btn-login:hover,
.btn-login:active {
  background-color: #461410;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 4px #667;
  transform: translateY(4px);
}
*/