.wrapper {
    border-bottom: 2px solid black
}
.logo {
    height: 120px;
    width: auto;
    float: center;
    padding-left: 250px
}
.main-nav {
    float: right;
    list-style-type: none; 
    padding-right:250px;
    padding-top:85px;
}
.main-nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase
}
.main-nav li:not(:last-child):after {
    content: " | ";
    padding-left: .8em
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 4px 0px;
    color:black; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav {
    float: right;
    list-style-type: none;
}
.main-nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase
}
.search {
    display: inline-block;
    margin-bottom: 60px;
    padding-top:85px;
}