<div class="wrapper">
  
  <nav class="main">
    <ul class="main-nav">
      <li><a [routerLink]="['about']">Why Rescue?</a></li>
      <li><a [routerLink]="['adoption']">Available Pets</a></li>
      <li><a [routerLink]="['pet-finder']">Find-a-Pet</a></li>   
      <li><a [routerLink]="['gallery']">Happily Adopted Gallery</a></li>
      <li><a [routerLink]="['contact']">Contact Us</a></li>
      <li><a [routerLink]="['references']">References</a></li>
    </ul>
  </nav>

  <a [routerLink]="['dash']">
    <img src="assets/images/happy-paws-logo.png" alt="Weego's Logo" class="logo"/>
  </a>

</div>



  








