<ngb-carousel>
  <template class="slide" ngbSlide>
    <img class="carousel-slide" src="../assets/images/slides/cat-1.png" alt="Sleeping Cat">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </template>
  <template class="slide" ngbSlide>
    <img class="carousel-slide" src="../assets/images/slides/dog-1.png" alt="Furry Scurry Dog">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </template>
  <template class="slide" ngbSlide>
    <img class="carousel-slide" src="../assets/images/slides/cat-2.png" alt="Looking Cat">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
  <template class="slide" ngbSlide>
    <img class="carousel-slide" src="../assets/images/slides/dog-2.png" alt="Cute Dog">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </template>
</ngb-carousel>
