<div class="row">

  <div *ngFor="let dog of dogs">
    <div class="animal">
      <div><img class="picture" src="{{dog.picture}}"></div>
      <div><span class="name">{{dog.name}}</span></div>
      <div><span class="desc">{{dog.breed}}</span></div>
      <div><span class="desc">{{dog.gender}}</span></div>
      <div><span class="desc">{{dog.age}}</span></div>
      <div><span class="desc">{{dog.color}}</span></div>
      <div><span class="desc">{{dog.location}}</span></div>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">About Me!</button>

<!--Following HTML is for the modal that opens after clicking "About Me"-->
        <template ngbModalContainer #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <img class="modal-picture" src="{{dog.picture}}">
  </div>
  <div class="modal-body">
    <p>{{dog.blurb}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>    
    
    </div>
</div>



<pre>{{dogs|json}}</pre>

