.row {
  margin-left: 280px;
  margin-right: 280px;
}
.picture {
  width: 160px;
  height: auto;
}
.animal { 
  border: 1px solid #999;
  padding: 5px;
  margin: 50px 15px 25px 15px;
  width: 175px;
  height: 350px;
  border: 2px solid #999;
  text-align: center;
  border-radius: 8px;
  box-shadow: 4px 4px #ccc
}
.name {
  padding-top: 4px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #328cc1
}
.desc {
  font-size: 12px;
  padding:2px;
  color: black;
}
.about-button {
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.about-me {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #d9b310;
  border-radius: 8px;
  padding: 3px 6px
}

/*---------------modal and about me button styling---------------*/
.dark-modal .modal-content {
  background-color: white;
  color: black;
}
.dark-modal .close {
  color: black;   
}
.btn {
  background-color: #8eaebd;
  color: black;
  border: none;
}
.btn:hover {
  background-color: #30415d;
  color: white;
}
.btn:active {
  background-color: #30415d;
  color: white;
  box-shadow: 2px 2px #666;
  transform: translateY(4px)
}
.btn-outline-primary {
  font-size: 16px;
  text-transform: uppercase;
  padding: 6px 6px;
}
.btn-lg {
   margin-top: 10px;
}
.modal-picture {
  width: 400px;
  height: auto;
  vertical-align: middle;
}
.dog-name {
  text-transform: uppercase;
  margin-left: 35%;
}
.more-info {
  text-align: left;
  font-size: 14px;
}