<div class="row">

  <div class="col animal">
    <img src="../assets/images/dogs/rufus.jpeg" style="width:142px">
      <div class="animal-name">RUFUS</div>
      <div class="animal-breed">German Shepherd Dog and Australian Cattle Dog</div>
      <div class="animal-gender">Male - 51 pounds</div>
      <div class="animal-age">02 Years 02 Months</div>
      <div class="animal-color">Red Color</div>
      <div class="animal-location">Denver Dumb Friends League</div>
      <about-modal></about-modal>
  </div>
</div>

