<div class="row">

  <div *ngFor="let dog of dogs">
    <div class="animal">
      <div><img class="picture" src="{{dog.picture}}"></div>
      <div><span class="name">{{dog.name}}</span></div>
      <div><span class="desc">{{dog.breed}}</span></div>
      <div><span class="desc">{{dog.gender}}</span></div>
      <div><span class="desc">{{dog.age}}</span></div>
      <div><span class="desc">{{dog.color}}</span></div>
      <div><span class="desc">{{dog.location}}</span></div>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">About Me!</button>

<!--Following HTML is for the modal that opens after clicking About Me button-->
    <!--modal HTML has to stay inside ngFor loop div and row div so that the interpolation works correctly-->
      <template ngbModalContainer #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h1 class="dog-name">{{dog.name}}</h1>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="modal-picture" src="{{dog.picture}}">
          <p class='basic'>
            Hi! My name is {{dog.name}}.
            <br><br>
            I am a {{dog.breed}}.
            <br><br>
            The shelter thinks I am about {{dog.age}} old.
            <br><br>
            Come meet me at {{dog.location}} today and see if I'm the one for you!
          </p>
        <hr>
          <div class="more-info">
            <strong>{{dog.tagline}}</strong>
          </div>
          <div class="more-info">
            <strong>Favorite Things:</strong> {{dog.favorites}}
          </div>
          <div class="more-info">
            <strong>Special Features:</strong> {{dog.specialFeatures}}
          </div>
          <div class="more-info">
            <strong>Dream Home:</strong> {{dog.dreamHome}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
       </template>   
  </div>
</div> 
    
<pre>{{dogs|json}}</pre>

