.row {
  margin-left: 400px;
  margin-right: 450px;
}
.picture {
  width: 160px;
  height: auto;
}
.animal { 
  border: 1px solid #999;
  padding: 5px;
  margin: 50px;
  width: 175px;
  height: 350px;
  border: 2px solid #999;
  text-align: center;
  border-radius: 8px;
  box-shadow: 4px 4px #ccc
}

.name {
  padding-top: 4px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #328cc1
}

.desc {
  font-size: 12px;
  padding:2px;
  color: black;
}

.about-button {
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about-me {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #d9b310;
  border-radius: 8px;
  padding: 3px 6px
}

/*-------modal styling--------*/
.close {
  float: right;
  margin: 0;
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;   
}
.btn-outline-primary {
  font-size: 16px;
  text-transform: uppercase;
  padding: 6px 6px
}
.btn-lg {
   margin-top: 10px;
}
.modal-picture {
  width: 400px;
  height: auto;
  margin-left:30px;
}