<div class=content>
  <h1 class="adopt_header">
    Adoption
  </h1>
  <br>
  <p class="adopt-header"> 
    Welcome to the adoption page! 
    <br><br>
    This is a blurb about the adoption page. On this page, you will find buttons labeled "Adoptable Dogs" and "Adoptable Cats". 
    As you would expect, if you click on one of these buttons, you will see a page of either adoptable dogs or adoptable cats. Now, I don't actually
    know if all of these animals are still up for adoption, as this is not a <strong>real</strong> pet rescue website. For more information on 
    adoptable pets in your area, visit a website like <a href="http://petfinder.com" class="petfinder_link">Petfinder</a> or <a href="http://rescueme.org" class="rescueme_link">Rescue Me</a>.
  </p>
</div>

<div class="adopt-buttons">
  <button class="adopt-cat" (click)="gotoCats()" type="button">Adoptable Cats</button>
  <button class="adopt-dog" (click)="gotoDogs()" type="button">Adoptable Dogs</button>
</div>
<router-outlet></router-outlet>
