<template ngbModalContainer #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <img src="../assets/images/dogs/rufus.jpeg" style="width:142px" class="animal-img">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>I am a special needs animal.
       <br>
       I am a neutered male, red German Shepherd Dog and Australian Cattle Dog.
       <br>
       The shelter thinks I am about 2 years and 3 months old.
       <br>
       I have been at the Denver Dumb Friends League since Feb 18, 2017.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">About Me!</button>

