<app-carousel></app-carousel>
<div class="content-wrapper">
  <div class="container">
    <div class="row">
        <div class="col col-learn">
            <h1 class="col-title">Learn</h1>
            <p class="col-body">Check out some cool resources about pet adoption and stuff. Here are some more words to make this longer.</p>
            <button class="butt-learn" (click)="gotoLearn()">Learn More</button>
        </div>
        <div class="col col-adopt">
            <h1 class="col-title">Adopt</h1>
            <p class="col-body">Check out some dogs and cats that are available for adoption. The pets shown come from different shelters in different areas.</p>
            <button class="butt-adopt-dog" (click)="gotoDogs()">View Available Dogs</button>
            <button class="butt-adopt-cat" (click)="gotoCats()">View Available Cats</button>
        </div>
        <div class="col col-search">
            <h1 class="col-title">Search</h1>
            <p class="col-body">If you know exactly what you want, do a custom search for an adoptable dog or cat. Search by size, age, location, and more!</p>
            <button class="butt-search" (click)="gotoPetFinder()">Find My Next Pet!</button>
        </div>
    </div>
  </div>
</div>
