.content-wrapper {
    background-color: #ece7df
}
.container {
    padding-top: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase
}
.col {
    border: 1px solid black;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 4px;
}